 p{
        color:blueviolet
        font-style: oblique;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:bold;
       margin-top: 50px;
       padding-left: 10px;
       text-align: center;
    }
    h2{
        text-align: center;
        font-style: initial;
        color: sandybrown;
        text-decoration: underline;
    }
